# General
.DS_Store
*.log
*.env
.env.*
node_modules/
dist/
build/

# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
*.pyc

# Flutter
.dart_tool/
.packages
pubspec.lock
build/
android/.gradle/
ios/Pods/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Docker
*.pid

